.tripPlanning{
    margin-top: 100px;
    width: 80%;
    height: 80vh;
    display: flex;
    margin: auto;
    padding: 20px 140px;
    margin-bottom: 150px;
    background: linear-gradient(45deg, white -30%, #C0EBFE  200%);

    border-radius: 15px;
    
}
.tripPlanning-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tripPlanning-left h1{
    margin-top: 10px;
    color: #0A2E41;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 10px;
}
.tripPlanning-left h2{
    color: #0A2E41;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}
.tripPlanning-left p{
    margin-top: 100px;
    color: #0A2E41;
    font-size: 18px;
    font-weight: 400;
}
.tripPlanning-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #104D6C ;
    border: none;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;

}
.tripPlanning-right{
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.tripPlanning-right img{
    width: 550px;
}
@media (max-width:1280px) {
    .tripPlanning{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .tripPlanning-left h1{
        font-size: 40px;
    }
    .tripPlanning-left p{
        font-size: 18px;
        
    }
    .tripPlanning-right img{
        width: 300px;
    }
    .tripPlanning-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .tripPlanning-right{
        padding-top: 30px;
    }
}
@media (max-width:1024px) {
    .tripPlanning{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 65vh;
    }
    .tripPlanning-left h1{
        font-size: 30px;
    }
    .tripPlanning-left p{
        font-size: 16px;
        
    }
    .tripPlanning-right img{
        width: 200px;
    }
    .tripPlanning-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .tripPlanning-right{
        padding-top: 10px;
    }
}
@media (max-width:800px) {
    .tripPlanning{
        margin-bottom: 60px;
    }
    .tripPlanning-left h1{
        font-size: 22px;
    }
    .tripPlanning-left p{
        font-size: 13px;
    }
    .tripPlanning-right img{
        width: 180px;
    }
    .tripPlanning-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
    
}
@media (max-width:500px) {
    .tripPlanning{
        height: 40vh;
        margin-bottom: 50px;
    }
    .tripPlanning-left h1{
        font-size: 16px;
    }
    .tripPlanning-left p{
        font-size: 10px;
    }
    .tripPlanning-right img{
        width: 120px;
    }
    .tripPlanning-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
    
}