.search-bar{
    border-radius: '50px';
    margin-bottom: "25px";
    width: "700px";
    height: "50px";
    border-width: "2px";
}


.city-card {
    width: 90%;
    background-color: rgba(155, 161, 229, 0.089);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.city-card:hover {
    background-color: #00c3ff5f; /* Light blue background on hover */
}

