.custom-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
  }
  
  .custom-carousel .carousel-indicators .active {
    background-color: #007bff;
  }
  